@model Dog;

@{
    ViewData["Title"] = "Adotepetinnovation";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#MeuBotao").click(function () {
                $.ajax({
                    url: "/App/Publicar",
                    type: "POST",
                    dataType: "json",
                    data: {
                        model: {
                            id: '@Model.Id',
                            nome: $("#txtNome").val(),
                            idade: $("#txtIdade").val(),
                            raca: $("#txtRaca").val(),
                            porte: $("#txtPorte").val(),
                            foto: $("#txtFoto").val(),
                            foto1: $("#txtFoto1").val(),
                            foto2: $("#txtFoto2").val(),
                            foto3: $("#txtFoto3").val(),
                            cidade: $("#txtCidade").val(),
                            estado: $("#txtEstado").val(),
                            celular: $("#txtCelular").val()
                        }
                    },
                    success: function () {
                        alert("Pet publicado com sucesso");
                        window.location = "/App/Pets";
                    }
                });
            });
        });
    </script>
}

<link rel="stylesheet" href="~/css/menu.css" type="text/css" />
<script src="~/js/menu.js"> </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/js/doar.js"> </script>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo"> <img src="~/img/icon.png" width="30"/>
                    <span class="nav_logo-name">AdotePet</span>
                </a>
                <div class="nav_list">
                    <a href="~/App/Index" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Menu</span>
                    </a>
                    <a href="~/App/Conta" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Conta</span>
                    </a>
                    <a href="~/App/Doar" class="nav_link active">
                        <i class='bx bx-bookmark nav_icon'></i>
                        <span class="nav_name">Doação Consciente</span>
                    </a>
                    <a href="~/App/Pets" class="nav_link">
                        <i class='bx bx-message-square-detail nav_icon'></i>
                        <span class="nav_name">Meus Pets</span>
                    </a>

                </div>
            </div> <a href="~/Home" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Sair</span>
            </a>
        </nav>
    </div>

    <h1>Abaixo digite as informações do Pet que deseja Doar</h1>
    <form>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input asp-for="Name" type="text" class="form-control " id="txtNome" aria-describedby="emailHelp">
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Idade</label>
            <input asp-for="Idade" type="text" class="form-control" id="txtIdade" aria-describedby="emailHelp">
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Raça</label>
            <input asp-for="Raca" type="text" class="form-control" id="txtRaca" aria-describedby="emailHelp">
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Porte</label>
            <input asp-for="Porte" type="text" class="form-control" id="txtPorte" aria-describedby="emailHelp">
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Cidade</label>
            <input asp-for="Cidade" type="text" class="form-control" id="txtCidade" aria-describedby="emailHelp">
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Estado</label>
            <input asp-for="Estado" type="text" class="form-control" id="txtEstado" aria-describedby="emailHelp">
        </div>
        <div class="col-md-4">
            <label for="exampleInputEmail1" class="form-label">Celular para contato</label>
            <input asp-for="Celular" type="number" class="form-control" id="txtCelular" aria-describedby="emailHelp">
        </div>
        <div class="col-md-8">
            <h1>Foto para o Menu</h1>
            <label for="exampleInputEmail1" class="form-label"></label>
            <input asp-for="Foto" type="text" class="form-control" id="txtFoto" aria-describedby="emailHelp">
        </div>
        <div class="col-md-8">
            <h1>Fotos para o Carrossel</h1>
            <label for="exampleInputEmail1" class="form-label">Foto 1</label>
            <input asp-for="Foto1" type="text" class="form-control" id="txtFoto1" aria-describedby="emailHelp">
        </div>
        <div class="col-md-8">
            <label for="exampleInputEmail1" class="form-label">Foto 2</label>
            <input asp-for="Foto2" type="text" class="form-control" id="txtFoto2" aria-describedby="emailHelp">
        </div>
        <div class="col-md-8">
            <label for="exampleInputEmail1" class="form-label">Foto 3</label>
            <input asp-for="Foto3" type="text" class="form-control" id="txtFoto3" aria-describedby="emailHelp">
            <div class="btn btn-primary mt-2" id="MeuBotao">
                publicar
            </div>
        </div>
    </form>
</body>