@{
    ViewData["Title"] = "Adotepetinnovation";
}

<div class="row">
    <div class="col border"><p><a href="~/App/Doar">Adicionar um pet paara adoção</a></p></div>
    <div class="col border">Coluna 2</div>
    <div class="col border">Coluna 3</div>
    <div class="col border">Coluna 4</div>
</div>
