@{
    ViewData["Title"] = "Dicas";
}

<link rel="stylesheet" href="~/css/dicas.css" type="text/css" />


<h1 class="text-white text-center mx-auto" style="margin-top: 50px">@ViewData["Title"]</h1>

<div class="text-white" style="margin-top: 50px; margin-left: 250px; margin-right: 210px">  
<p>
    Alimentação adequada: Forneça uma dieta balanceada e de qualidade, com ração específica para cachorros, de acordo com a idade, porte e necessidades do seu cão. Evite alimentar com comidas humanas, pois algumas podem ser tóxicas para os cães. <br>
    Hidratação: Mantenha sempre água fresca e limpa disponível para o seu cachorro. Certifique-se de que ele tenha acesso fácil a ela.<br>
    Exercícios físicos: Cães precisam de exercícios diários para se manterem saudáveis e felizes. Passeie com o seu cachorro regularmente, brinque com ele e proporcione atividades que estimulem o seu corpo e mente.<br>
    Visitas ao veterinário: Leve seu cachorro ao veterinário regularmente para verificar sua saúde, manter as vacinas atualizadas e realizar exames de rotina. Mantenha também um controle de pulgas, carrapatos e vermes, conforme orientação veterinária.<br>
    Higiene: Banhe o seu cachorro quando necessário, usando produtos próprios para animais de estimação. Escove o pelo regularmente para evitar nós e manter a pelagem saudável. Escove também os dentes do seu cão para prevenir problemas bucais.<br>
    Ambiente seguro: Mantenha o ambiente onde seu cachorro vive seguro e livre de objetos perigosos. Certifique-se de que ele tenha um espaço confortável para descansar e se abrigar, e evite deixar produtos tóxicos ao seu alcance.<br>
    Socialização: Socialize o seu cachorro desde cedo, expondo-o a diferentes pessoas, animais e ambientes. Isso ajudará a torná-lo mais sociável e reduzirá comportamentos indesejados.<br>
    Carinho e atenção: Dê amor, carinho e atenção ao seu cachorro. Interaja com ele diariamente, faça carinhos, brinque e ensine comandos básicos. Isso fortalecerá o vínculo entre vocês e o deixará mais feliz.<br>
    Lembre-se de que cada cachorro é único, e algumas necessidades podem variar de acordo com a raça, idade e saúde do animal. Sempre consulte um veterinário para obter orientações específicas para o seu cão.
</p>
</div>
