@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/testeimagem.jpg" />
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <p>Faça parte do maior site de adoçoes do Brasil</p>
    <p><a href="https://docs.microsoft.com/aspnet/core">Criar conta</a></p>
</div>
