@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/home.css" type="text/css" />

<div class="text-center" style="background-color:; object-position:center; opacity: 0.5; color:#D2691E; margin-right: 450px;
margin-left: 385px; margin-top: 125px; border-radius: 5px;">
    <h1 class="display-3">Seja Bem Vindo!</h1>
    <p class="display-7">Faça parte do maior site de adoções do Brasil</p>
    <p><a href="~/Signup/Create">Crie sua conta agora!</a></p>
</div>
