@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/home.css" type="text/css" />

<div class="text-center" style="background-color:black; object-position:center; opacity: 0.5; color:white; margin-right: 300px;
margin-left: 300px; margin-top: 100px; border-radius: 5px;">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <p>Faça parte do maior site de adoções do Brasil</p>
    <p><a href="~/Signup/Create">Criar conta</a></p>
</div>
