@{
    ViewData["Title"] = "Hoje em dia o número de abandonos está ultrapassado!";
}
<h1>@ViewData["Title"]</h1>

<p>Hoje em dia o número de abandonos e animais abandonados está muito alto, por conta disso que é de estrema importancia 
    sempre que ver um animal abandonado, se possível, adota-lo, se não, ligar para algum lar que possa estár o acolhendo.
    Álem disso támbem podemos ajudar por meio das divulgações e doações com o entuito de estar ajudando na alimentação 
    dos animais.

</p>
