@{
    ViewData["Title"] = "A quantidade de abandono está ultrapassado!";
}

<link rel="stylesheet" href="~/css/signin.css" type="text/css" />

<h1 class="text-white text-center mx-auto" style="margin-top: 200px">@ViewData["Title"]</h1>

<div class="text-white" style="margin-top: 50px; margin-left: 250px; margin-right: 240px">
<p>
    O abandono de animais é um problema sério e preocupante
    que afeta inúmeros animais em todo o mundo. Infelizmente,
    muitos animais <br> são deixados para trás, abandonados à própria
    sorte, enfrentando perigos nas ruas ou sendo levados a abrigos
    superlotados. É essencial <br> entender a gravidade desse problema e o
    impacto negativo que ele causa nos animais e na sociedade como um todo.
    O envolvimento <br> da comunidade é vital para enfrentar o abandono de animais.
    Existem várias maneiras de ajudar, desde apoiar abrigos e resgates locais <br>
    por meio de doações e voluntariado. Além disso, denunciar casos de abandono às
    autoridades competentes pode ajudar a responsabilizar <br> os infratores
    e garantir que a legislação de proteção animal seja cumprida.
    É importante lembrar que os animais merecem respeito, cuidado <br>
    e amor. Eles são seres vivos que sentem emoções e formam
    vínculos afetivos. Ao adotar uma abordagem responsável em
    relação aos <br> animais de estimação, podemos fazer a diferença
    na vida deles e trabalhar juntos para reduzir o abandono e
    promover uma convivência <br> harmoniosa entre humanos e animais.

</p>
</div>
