@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa equipe resolveu criar um site para adoção de cachorros, para ajudar as pessoas que os resgatam conseguirem alguém para adota-los com mais facilidade.
</p>