@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa equipe resoolveu criar um site para adoção de cachorros, para ajudar as pessoas que os resgatam conseguir alguém para adota-los mais facilmente,
    e a quem procura fazer uma adoção sem dificuldade.
</p>