@{
    ViewData["Title"] = "Sobre Nós";
}

<link rel="stylesheet" href="~/css/dicas.css" type="text/css" />

<h1 class="text-white text-center mx-auto" style="margin-top: 50px">@ViewData["Title"]</h1>

<div class="text-white" style="margin-top: 50px; margin-left: 250px; margin-right: 200px">
<p>
    Nossa equipe é formada por entusiastas dos animais, desde desenvolvedores
    e designers até especialistas em atendimento ao cliente. <br>
    Todos compartilhamos uma paixão comum por criar uma experiência
    positiva e gratificante tanto para os adotantes quanto para os <br>  animais.
    Estamos sempre disponíveis para fornecer suporte e orientação
    durante o processo de adoção, garantindo que
    todas as dúvidas <br> sejam esclarecidas e que as expectativas sejam atendidas.
    Nosso maior orgulho é testemunhar os encontros emocionantes entre adotantes <br>
    e animais. Cada vez que um animal encontra um lar amoroso
    através de nosso site, sentimos uma alegria indescritível.
    Sabemos que fizemos <br>  a diferença não apenas na vida do animal,
    mas também na vida da família que o acolheu.
</p>
</div>